@{
    ViewData["Title"] = "About My Dacha";
}

<div class="text-center">
    <div> Растущие деревья</div>
    <div> Ягодные кустарники</div>
    <div> Многолетние цветы</div>
    <div> Однолетники этого года</div>
    <div> Овощи этого года</div>
    <div> Газон</div>
    <div> Строения</div>
    <div> Клумбы</div>
    <div> </div>

</div>
